@model IEnumerable<WebApplication2.Models.Route>

@{
    ViewBag.Title = "My Routes";
}

<h2>My Routes</h2>

<p>
    @Html.ActionLink("Create New", "Index","Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginCoordinates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationCoordinates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RouteName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Origin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OriginCoordinates)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Destination)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DestinationCoordinates)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RouteLength)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit/" + item.RouteId) | @Html.ActionLink("Details", "Details/" + item.RouteId) | @Html.ActionLink("Delete", "Delete/" + item.RouteId, new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
<style>
    .table {
        margin-left: auto;
        margin-right: auto;
    }
    .table th {
        background-color: #df691a;
        color: white;
    }

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .table tr:nth-child(even) {
        background-color: #415464;
    }
</style>
