@model IEnumerable<WebApplication2.Models.Route>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Index","Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginCoordinates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationCoordinates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RouteName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Origin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OriginCoordinates)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Destination)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DestinationCoordinates)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit/" + item.RouteId)|@Html.ActionLink("Details", "Details/" + item.RouteId)|@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
